# Composer tarafından yüklenen bağımlılıklar
/vendor/

# SQLite veritabanı ve geçici dosyaları (Repo'ya dahil etmiyoruz, setup.php ile oluşturulacak)
/var/bilet.sqlite
/var/bilet.sqlite-shm
/var/bilet.sqlite-wal

# Windows küçük resim önbelleği
Thumbs.db

# macOS sistem dosyası
.DS_Store

# IDE/Editör dosyaları (Örnek: VS Code)
.vscode/